body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.bus-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.bus-info > div {
    flex: 1;
    padding: 10px;
}

.time-info {
  text-align: right;
}

.map {
    width: 100%;
    height: 300px; /* Altura del mapa */
    background-color: #e0e0e0; /* Color de fondo del mapa placeholder */
    border-radius: 8px;
}
